{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Stunning Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    <script src="//cdn.bootcss.com/vue/2.2.4/vue.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
{#<script type="text/javascript" src="{% static 'js/webp/Webp.js' %}"></script>#}
{#<script type="text/javascript" src="http://www.etherdream.com/WebP/WebP.js"></script>#}
<div class="header" id="home">
    {% include 'head.html' %}
</div>
<div id="body" class="container" style="margin-top: 20px;margin-bottom: 50px;">
    <div class="row">
        <div class="col-md-9 ">
            <div class="content">
                <div class="row">
                    <div class="page-header">
                        <h1>
                            {{ model.product_name }}
                        </h1>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-4">
                        <img src="{{ model.images.image }}">
                        {#                    <img src="{% static 'images/test.webp' %}" >#}
                    </div>
                    <div class="col-md-6">
                        <p>{{ model.about|safe }}</p>
                    </div>
                    <div class="col-md-2">
                        <span>豆瓣评分</span>
                        <h1 id="average" style="display: none">{{ model.rating }}</h1>
                    </div>
                </div>

                {% if model.content %}
                    <div class="row content-block">
                        <h2>{{ model.product_name }}的剧情简介</h2>
                        <p>
                            {{ model.content }}
                        </p>
                    </div>
                {% endif %}

                <div class="row content-block">
                    <h2>{{ model.product_name }}的下载链接</h2>
                    <div class="download" v-cloak>
                        <ul id="download">
                            <li v-for="item in downloads" v-html="item">
                                {% templatetag openvariable %} item {% templatetag closevariable %}
                            </li>
                        </ul>
                        {#                        {% templatetag openvariable %} 内容内容 {% templatetag closevariable %}#}
                    </div>
                </div>
            </div>


            <div class="content">
                <div class="row comment-block">
                    <p class="side_bar_title">热评</p>
                    <div v-cloak>
                        <div class="comment" v-for="item in comments">
                            <img src="{% static 'images/person.jpeg' %}"
                                 alt="">
                            <h3>
                                {#                            <span class="glyphicon glyphicon-user"></span>#}

                                <span class="comment-info">
                                {% templatetag openvariable %} item.user_name {% templatetag closevariable %}
                            </span>
                                <span class="comment-time">
                                    ({% templatetag openvariable %} item.comment_time {% templatetag closevariable %})
                            </span>
                            </h3>
                            <p class="">
                                {% templatetag openvariable %} item.content {% templatetag closevariable %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="padding: 20px;">
            <div class="side_bar_box">
                <p class="side_bar_title">标题</p>
                <div>
                    {% for a1 in 2222|make_list %}
                        {% for a1 in 2222|make_list %}
                            <a href="#"
                               title="3个话题"
                               class="side_bar_a">中文</a>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {% comment %}<div class="side_bar_box">
                <p class="side_bar_title">热评</p>
                <div v-cloak>
                    <div class="comment" v-for="item in comments">
                        <h3>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="comment-info">
                                {% templatetag openvariable %} item.user_name {% templatetag closevariable %}
                            </span>
                            <span class="comment-time">
                                    ({% templatetag openvariable %} item.comment_time {% templatetag closevariable %})
                            </span>
                        </h3>
                        <p class="">
                            {% templatetag openvariable %} item.content {% templatetag closevariable %}
                        </p>
                    </div>
                </div>
            </div>{% endcomment %}

        </div>

    </div>

</div>

{% include 'footer.html' %}
<!---->

<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<!-- js -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/masonry/4.1.1/masonry.pkgd.min.js"></script>
<script src="//cdn.bootcss.com/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
{#<script type="text/javascript" src="{% static 'js/webp/Webp.js' %}"></script>#}
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layer/layer.js' %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 900);
        });
    });
</script>

<script>

    var download = [];
    var productId = {{ model.id }};
    {#    var download = JSON.parse(download_data);#}
    var comments = [];

    $(function () {
        getDownloadData(function () {
            var urls = initDownloadUrl();
            new Vue({
                el: "#body",
                data: {
                    downloads: urls,
                    comments: comments
                },
            });
        });
        getComments();

        $("#average").html(JSON.parse($("#average").html()).average).show();

    });


    var getDownloadData = function (call) {
        var url = "/api/down/" + productId;
        $.get(url, {}, function (d) {
            download = JSON.parse(d);
            call();
        });
    };

    var initDownloadUrl = function () {

        var list = [];

        for (var i = 0; i < download.length; i++) {
            var a = download[i].download_url;
            if (a.indexOf("pan.baidu.com") > 0) {
                var num = a.indexOf("href");
                a = a.substr(0, num) + " target='_blank' " + a.substring(num, a.length);
                list.push(a);
            } else if (a.indexOf("ed2k:") >= 0) {
                var s = "<a href='" + a + "'>迅雷下载</a>(如不能唤起迅雷，请点此<a href='#' onclick='copy_url()'>复制下载地址</a>，粘贴到迅雷中下载)";

                var url = "<p id='hideurl' style='display:none'>" + a + "</p>"

                list.push(s + url);
            } else if (a.indexOf("http") >= 0) {
                var s1 = "<a href='" + a + "'>种子下载</a>";
                list.push(s1);
            }

        }
        console.log(JSON.stringify(list));
        return list;
    };


    var getComments = function () {
        var url = "/api/comment/" + productId;
        $.get(url, {}, function (d) {
            list = JSON.parse(d);
            list.forEach(function (v, k) {
                console.log(JSON.stringify(v));

                comments.push(v);
            })
        });
    };

    var copy_url = function () {

        var a = $("#hideurl").html();
        clipboardData(a);
    };

    var clipboardData = function (a) {
        layer.open({
            type: 1,
            skin: 'layui-layer-demo', //样式类名
            closeBtn: 1, //显示关闭按钮
            title: "浏览器不支持复制功能，请复制以下链接",
            anim: 1,
            shadeClose: true, //开启遮罩关闭
            content: a
        });
        $(".layui-layer-content").css("word-wrap", "break-word").css("word-break", "break-all").css("padding", "20px");
        $(".layui-layer-content").select();
    }
</script>
</body>
</html>
