{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>雨后花园</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="雨后花园,最新电影"/>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--coustom css-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>

</head>
<body>

<div class="header" id="home">
    {% include 'head.html' %}

    <div class="index-works" id="content">
        <div class="container">
            <div class="row">
                {% if movie_list %}
                    {% for movie in movie_list %}
                        <div class="col-sm-6 col-md-4 m-list">
                            <div class="thumbnail">
                                <a href="{% url 'detail' movie.id %}">
                                    <figure class="effect-bubba">
                                        <img class="img-responsive img-rounded "
                                             src="{% static 'images/default.jpeg' %}" url="{{ movie.images.image }}"
                                             alt=""/>
                                        <figcaption>
                                            <h4><span class="glyphicon glyphicon-play-circle"></span></h4>
                                        </figcaption>
                                    </figure>
                                </a>
                                <div class="caption">
                                    <div class="description">
                                        <p>{{ movie.content|slice:"0:50" }}...</p>
                                    </div>
                                    <h2>
                                        <a href="{% url 'detail' movie.id %}">{{ movie.product_name }}</a>
                                    </h2>
                                </div>
                                <div class="info">
                                    <span class="info_date info_ico" title="上映时间"><em
                                            class="glyphicon glyphicon-calendar"></em> {{ movie.release_time }}</span>
                                    <span class="info_views info_ico" title="评价人数"><em
                                            class="glyphicon glyphicon-eye-open"></em> {{ movie.rating_sum }}</span>
                                    <span class="info_comment info_ico" title="豆瓣评分"><em
                                            class="glyphicon glyphicon-star"></em> <span class="average"
                                                                                         style="display: none">{{ movie.rating }}</span> </span>
                                    <span class="info_category info_ico" title="类别"><em
                                            class="glyphicon glyphicon-tag"></em> {{ movie.area }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>加载错误，请刷新重试。。。</p>
                {% endif %}
            </div>
        </div>

    </div>

    <!--分页-->
    <div class="container">
        <div class="row">
            <nav aria-label="...">
                <ul class="pagination">

                    {% if pager == 1 %}
                        <li class="disabled"><a href="javascript:;" aria-label="Previous"><span
                                aria-hidden="true">&laquo;</span></a></li>
                    {% else %}
                        <li class=""><a href="{% url 'page' 1 %}" aria-label="Previous"><span
                                aria-hidden="true">首页</span></a></li>
                        <li class=""><a href="{% url 'page' pager|add:-1 %}" aria-label="Previous"><span
                                aria-hidden="true">&laquo;</span></a></li>
                    {% endif %}

                    {% for a in 3|make_list %}
                        {% if pager  > 3 %}
                            <li class=""><a href="{% url 'page' pager|add:-3 %}">{{ pager|add:-3 }} <span
                                    class="sr-only">(current)</span></a>
                            </li>
                        {% endif %}
                        {% if pager  > 2 %}
                            <li class=""><a href="{% url 'page' pager|add:-2 %}">{{ pager|add:-2 }} <span
                                    class="sr-only">(current)</span></a>
                            </li>
                        {% endif %}
                        {% if pager  > 1 %}
                            <li class=""><a href="{% url 'page' pager|add:-1 %}">{{ pager|add:-1 }} <span
                                    class="sr-only">(current)</span></a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    <li class="active"><a href="{% url 'page' pager %}">{{ pager }} <span
                            class="sr-only">(current)</span></a>
                    </li>

                    {% for a in 3|make_list %}
                        {% if pager  < total_count|add:-1 %}
                            <li class=""><a href="{% url 'page' pager|add:1 %}">{{ pager|add:1 }} <span class="sr-only">(current)</span></a>
                            </li>
                        {% endif %}
                        {% if pager  < total_count|add:-2 %}
                            <li class=""><a href="{% url 'page' pager|add:2 %}">{{ pager|add:2 }} <span class="sr-only">(current)</span></a>
                            </li>
                        {% endif %}
                        {% if pager  < total_count|add:-3 %}
                            <li class=""><a href="{% url 'page' pager|add:3 %}">{{ pager|add:3 }} <span class="sr-only">(current)</span></a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if pager == total_count %}
                        <li class="disabled"><a href="javascript:;" aria-label="Previous"><span
                                aria-hidden="true">&raquo;</span></a></li>
                    {% else %}
                        <li class=""><a href="{% url 'page' pager|add:1 %}" aria-label="Previous"><span
                                aria-hidden="true">&raquo;</span></a></li>
                        <li class=""><a href="{% url 'page'  total_count %}" aria-label="Previous"><span
                                aria-hidden="true">尾页</span></a></li>
                    {% endif %}
                </ul>
            </nav>
            <br/>
        </div>
    </div>


    <!--footer-starts-->
    {% include 'footer.html' %}
    <!---->
</div>
<!---->
<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<!-- js -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/masonry/4.1.1/masonry.pkgd.min.js"></script>
<script src="//cdn.bootcss.com/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>

<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
{#<script type="text/javascript" src="{% static 'js/laypage/laypage.js' %}"></script>#}
<!--/script-->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 900);
        });
    });
</script>
<script>
    $(function () {

        convert_image();


        $('#content').imagesLoaded()
            .always(function (instance) {
                {#                console.log('all images loaded');#}
            })
            .done(function (instance) {
                format_image();
            })
            .fail(function () {
                format_image();
                {#                console.log('all images loaded, at least one is broken');#}
            })
            .progress(function (instance, image) {
                {% comment %} var result = image.isLoaded ? 'loaded' : 'broken';
                 console.log('image is ' + result + ' for ' + image.img.src);{% endcomment %}
            });


        {

            for (var i = 0; i < $(".average").length; i++) {
                var v = $(".average")[i];
                var s = $(v).html();
                var ob = JSON.parse(s);
                $(v).html(ob.average).show();
            }

        }
    });


    var convert_image = function () {
        var imgs = $("#content img");


        for (var i = 0; i < imgs.length; i++) {
            var img = $(imgs[i]);
            img.attr("src", img.attr("url"));
        }

        format_image();
    }

    var format_image = function () {
        $('#content .row').masonry({
            itemSelector: '.m-list',
        });
    }


</script>
</body>
</html>
