{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="{{ config.keywords }}"/>
    <meta name="description" content="{{ config.description }}">
    {% if key %}
        <title>{{ key }}_{{ config.title_key }}</title>
    {% else %}
        <title>搜索_{{ config.title_key }}</title>
    {% endif %}
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    <script src="//cdn.bootcss.com/vue/2.2.4/vue.js"></script>
    <script src="{% static 'js/laypage/laypage.js' %}"></script>
</head>
<body>

<div class="header" id="home">
    {% include 'head.html' %}
</div>


<div class="container list">
    <div class="row">
        <div class="col-md-9 content">
            <div class="row">
                <div class="col-md-8 list-search">
                    <form action="{% url 'search' %}" method="get" class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." value="{{ key }}"
                               name="key">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">search</button>
                        </span>
                    </form>
                </div><!-- /input-group -->
            </div>
            <div class="row ">
                <div class="sort-row">
                    <ul>
                        <li><a href="/search?key={{ key }}&order=1">默认排序</a></li>
                        <li><a href="/search?key={{ key }}&order=2">最高评分</a></li>
                        <li><a href="/search?key={{ key }}&order=3">最多人看</a></li>
                        <li><a href="/search?key={{ key }}&order=4">上映时间</a></li>
                    </ul>
                </div>
            </div>
            <div class="row ">

                <ul class="list-group">
                    {% for l in movie_list %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-10">
                                    <div>[电影] <a href="{% url 'detail' l.id %}" target="_blank">{{ l.product_name }}</a>
                                    </div>

                                    <div class="">
                                        <span class="info_date info_ico" title="上映时间"><em
                                                class="glyphicon glyphicon-calendar"></em> {{ l.release_time }}</span>
                                        <span class="info_views info_ico" title="评价人数"><em
                                                class="glyphicon glyphicon-eye-open"></em> {{ l.rating_sum }}</span>
                                        <span class="info_comment info_ico" title="豆瓣评分"><em
                                                class="glyphicon glyphicon-star"></em> <span class="average"
                                                                                             style="display: none">{{ l.rating }}</span> </span>
                                        <span class="info_category info_ico" title="类别"><em
                                                class="glyphicon glyphicon-tag"></em> {{ l.area }}</span>
                                    </div>
                                    <br>
                                    <p>{{ l.content|striptags|slice:"100" }}...</p>
                                </div>
                                <div class="col-md-2">
                                    <img src="{{ l.images.image }}" alt="">
                                </div>

                            </div>

                        </li>
                    {% endfor %}

                </ul>
            </div>
            <div class="row">
                <div id="page">

                </div>
            </div>
        </div>

        <div class="col-md-3" style="padding: 20px;">
            {#            侧边栏，暂时隐藏#}
            {#            <div class="side_bar_box">#}
            {#                <p class="side_bar_title">标题</p>#}
            {#                <div>#}
            {#                    {% for a1 in 2222|make_list %}#}
            {#                        {% for a1 in 2222|make_list %}#}
            {#                            <a href="#"#}
            {#                               title="3个话题"#}
            {#                               class="side_bar_a">亲情</a>#}
            {#                        {% endfor %}#}
            {#                    {% endfor %}#}
            {#                </div>#}
            {#            </div>#}
        </div>

    </div>

</div>


{% include 'footer.html' %}
<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script>

    $(function () {

        for (var i = 0; i < $(".average").length; i++) {
            var v = $(".average")[i];
            var s = $(v).html();
            var ob = JSON.parse(s);
            $(v).html(ob.average).show();
        }
    });

    var jump_page = function (page) {
        var url = window.location.href;
        if (url.indexOf("page=") < 0) {
            if (url.indexOf("?") < 0) {
                url = url + "?page=" + page;
            } else {
                url = url + "&page=" + page;
            }
        } else {
            var start = url.indexOf("page=") + "page=".length;
            var end = url.indexOf("&", start);
            if (end < 0 || end < start) {
                url = url.substring(0, start) + page;
            } else {
                var a = url.substring(0, start);
                var b = url.substring(end, url.length);
                url = a + page + b;
            }
        }

        window.location.href = url;
    };

    var get_page = function () {
        var url = window.location.href;
        if (url.indexOf("page=") < 0)
            return 1;

        var page = 1;

        var start = url.indexOf("page=") + "page=".length;
        var end = url.indexOf("&", start);
        if (end < 0 || end < start) {
            var a = url.substring(start, url.length);
            page = parseInt(a);
        } else {
            var a = url.substring(start, end);
            page = parseInt(a);
        }

        return page;

    };

    laypage({
        cont: 'page', //容器。值支持id名、原生dom对象，jquery对象,
        pages: {{ total_count }}, //总页数
        skin: 'molv', //皮肤
        curr: get_page(),
        first: 1, //将首页显示为数字1,。若不显示，设置false即可
        last: {{ total_count }}, //将尾页显示为总页数。若不显示，设置false即可
        prev: '<', //若不显示，设置false即可
        next: '>', //若不显示，设置false即可
        jump: function (obj) {
            var curr = obj.curr;
            console.log(get_page());
            console.log(curr);
            if (curr == get_page()) {
                return;
            }
            jump_page(curr);
        }
    });


</script>
<script>
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
</body>
</html>