{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--coustom css-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    <script src="//cdn.bootcss.com/vue/2.2.4/vue.js"></script>
</head>
<body>

<div class="header" id="home">
    {% include 'head.html' %}
</div>


<div class="container list">
    <div class="row">
        <div class="col-md-9 content">

            <div class="row">
                <div class="col-md-8 list-search">
                    <form action="{% url 'search' %}" method="get" class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." value="{{ key }}"
                               name="key">
                        <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">search</button>
                    </span>
                    </form>
                </div><!-- /input-group -->
            </div>
            <div class="row ">

            </div>
            <div class="row ">

                <ul class="list-group">
                    {% for l in movie_list %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-10">
                                    <div>[电影] <a href="{% url 'detail' l.id %}" target="_blank">{{ l.name }}</a></div>
                                    <div>上映时间：{{ l.release_time }}</div>
                                    <p>{{ l.content|striptags|slice:"100" }}...</p>
                                </div>
                                <div class="col-md-2">
                                    <img src="{{ l.images.image }}" alt="">
                                </div>

                            </div>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

        <div class="col-md-3" style="padding: 20px;">
            <div class="side_bar_box">
                <p class="side_bar_title">标题</p>
                <div>
                    {% for a1 in 2222|make_list %}
                        {% for a1 in 2222|make_list %}
                            <a href="#"
                               title="3个话题"
                               class="side_bar_a">亲情</a>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

</div>


{% include 'footer.html' %}

</body>
</html>